<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--suppress HtmlUnknownTag -->
    <div th:replace="fragments/styles :: styles"></div>
    <meta charset="UTF-8">
    <title>Create new map</title>
</head>
    <body>
        <div th:replace="fragments/navbar :: navbar" ></div>
        <div class="container mt-5">
            <h2>Create new map</h2>
            <div th:replace="fragments/mapfields :: mapfields('Add map','/map/add')"></div>
        </div>
    </body>
    <div th:replace="fragments/scripts :: scripts"></div>
</html>