<html  xmlns:th="http://www.thymeleaf.org" >
	<head>
		<title>Map editor</title>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<div id="actionDescription"> Action description (work in progress).</div>
		<div id="drawArea"></div>
		<div>
			<button id="addPoint">Add point</button>
			<button id="addLine">Add line</button>
			<button id="addArea">Add area</button>
			<button id="edit">Edit element</button>
			<button id="remove">Remove element</button>
		</div>
		<br/>
		Name: 
		<input type="text" id="nameInput" disabled /> 
		<br />
		<br />
		<button id="saveMap">Save </button>
	</body>
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/raphael.min.js}"></script>
	<!--<script src="jquery-3.3.1.min.js"></script>
	<script src="raphael.min.js"></script>-->
	<script>
		/*<![CDATA[*/

		window.onload = function(){
						
			var calculateTextPosition = function (px,py,alpha,textWidth,textHeight) {
				var xoffset = 0;
				var yoffset = 0;
				if(alpha >= 360){
					angle = alpha - 360;
					xoffset = textWidth * (angle/90);
					revpr = 1 - (angle/90);
					yoffset = -textHeight * revpr;
				}else{
					angle = alpha - 90;
					revpr = 1 - (angle/90);
					xoffset = -textWidth * revpr;
					if(alpha > 180){
						angle = angle - 180;
					//	revpr = 1 - (angle/90);
						yoffset = textHeight * (angle/90);
					}else{
						yoffset = -textHeight * (angle/90);
					}
				}
			//	console.log("xoffset: ", xoffset);
				//$("#offsets").text("Xoffset: " + xoffset + " Yoffset : " + yoffset);
				return {x:px+xoffset,y:py+yoffset};
			};
			
			var points = [];
			var lines = [];
			var areas = [];
			
			var getRectFromElement = function(element){
				var bbox = element.getBBox();
				return paper.rect(bbox.x,bbox.y,bbox.width,bbox.height);
			}
			
			class Element{
				constructor(shape, text){
					this.shape = shape;
					this.text = text;
				}
				
				elementSelected() {}
				selectionRemoved() {}
				moveStart() {}
				onMove(dx,dy) {}
				
				nameChanged(newName) {}
				elementDeleted() {}
				
			}
			
			class PointElement extends Element{
				constructor(shape, text){
					super(shape, text);
					this.shapeSelectionBox = null;
					this.textSelectionBox = null;
				}
				
				elementSelected(){
					this.shapeSelectionBox = getRectFromElement(this.shape);	
					this.textSelectionBox = getRectFromElement(this.text); 
		//			console.log(this.shapeSelectionBox);
				}
				
				selectionRemoved() {
					this.shapeSelectionBox.remove();
					this.textSelectionBox.remove();
				}
				
				moveStart(){
					this.startCoords = {
						sx : this.shape.attr("cx"),
						sy : this.shape.attr("cy"),
						tx : this.text.attr("x"),
						ty : this.text.attr("y"),
						sbx : this.shapeSelectionBox.attr("x"),
						sby : this.shapeSelectionBox.attr("y"),
						tbx : this.textSelectionBox.attr("x"),
						tby : this.textSelectionBox.attr("y"),
					};
				
		/*			this.sx = this.shape.attr("cx");
					this.sy = this.shape.attr("cy");
					this.tx = this.text.attr("x");
					this.ty = this.text.attr("y");
					this.bty*/
				}
				
				onMove(dx,dy){
					this.shape.attr({cx:this.startCoords.sx+dx,cy:this.startCoords.sy+dy});
					this.text.attr({x:this.startCoords.tx+dx,y:this.startCoords.ty+dy});
					
					this.shapeSelectionBox.attr({x:this.startCoords.sbx+dx,y:this.startCoords.sby+dy});
					this.textSelectionBox.attr({x:this.startCoords.tbx+dx,y:this.startCoords.tby+dy});
				}
				
				nameChanged(newName) {
					this.text.attr({text:newName});
					this.textSelectionBox.remove();
					this.textSelectionBox = getRectFromElement(this.text);
				//	console.log("Here is new name: " + newName);
				}
				
				elementDeleted() {
					this.text.remove();
					this.shape.remove();
					points.splice(points.indexOf(this),1);
				}
				
			}
			
			class LineElement extends Element{
				constructor(shape, text){
					super(shape,text);
					this.path = shape.attr("path");
	//				console.log("Line element crreated.");
					//this.pointSet = paper.Set();
				}
				
				selectPath(){
			/*		shape.events.forEach(function(event){
						if(event.name === ""
					}) */
					paper.setStart();
					if(currentAction instanceof EditElementAction){
						this.path.forEach(
							function(element){
								var rect = paper.rect(element[1]-5,element[2]-5,10,10).attr({fill:"black"})
									.drag(currentAction.onMovement,currentAction.enterMovement);
							}
						);
					}else{
						this.path.forEach(
							function(element){
								var rect = paper.rect(element[1]-5,element[2]-5,10,10).attr({fill:"black"});
							}
						);
					}

					this.pointSet = paper.setFinish();
		//			console.log(this.pointSet);
				}
				
				removePathSelection(){
					while(this.pointSet.length > 0){
						this.pointSet.pop().remove();
						
					}
				}
				
				elementSelected() {
				//	console.log("Line selected.");
					this.textSelectionBox = getRectFromElement(this.text);
					this.selectPath();
				}
				selectionRemoved() {
					this.textSelectionBox.remove();
					this.removePathSelection();
				}
				
				
				moveStart() {
					this.startCoords = {
						px :  [],
						py :  [],
						tx : this.text.attr("x"),
						ty : this.text.attr("y"),
						tbx : this.textSelectionBox.attr("x"),
						tby : this.textSelectionBox.attr("y")
					}
					var pst = this.startCoords;
					this.pointSet.forEach(
						function (el) {
							pst.px.push(el.attr("x"));
							pst.py.push(el.attr("y"));
						}
					);					
				}
				onMove(dx,dy) {
					this.text.attr({x: this.startCoords.tx+dx,y: this.startCoords.ty+dy});
					this.textSelectionBox.attr({x:this.startCoords.tbx+dx,y:this.startCoords.tby+dy});
					var i = 0;
					var tthis = this;
					this.pointSet.forEach(
						function(el){
							tthis.path[i][1] = tthis.startCoords.px[i]+dx+5;
							tthis.path[i][2] = tthis.startCoords.py[i]+dy+5;
							el.attr({x : tthis.startCoords.px[i]+dx,y : tthis.startCoords.py[i]+dy});
							i++;
						}
					);
					this.shape.attr({path:tthis.path});
					
				}
				
				nameChanged(newName) {
					this.text.attr({text:newName});
					this.textSelectionBox.remove();
					this.textSelectionBox = getRectFromElement(this.text);
				}

				elementDeleted() {
					this.text.remove();
					this.shape.remove();
					lines.splice(lines.indexOf(this),1);
				}
			}
			
			class AreaElement extends LineElement{
			
				elementDeleted() {
					this.text.remove();
					this.shape.remove();
					areas.splice(areas.indexOf(this),1);
				}
				
			}
			

			
			
			var paper = Raphael("drawArea",500,500);
			var rect = paper.rect(0,0,500,500);
			var nameInput = document.getElementById("nameInput");			

			function getData(){
				var mapData = {
					width : paper.width,
					height : paper.height,
					points : [],
					lines : [],
					areas : [],
				};
				points.forEach(function (point) {
					mapData.points.push(
						{
							px : point.shape.attr("cx"),
							py : point.shape.attr("cy"),
							name : point.text.attr("text"),
							tx : point.text.attr("x"),
							ty : point.text.attr("y")
						}
					);
				});
				lines.forEach(function (line) {
					mapData.lines.push(
						{
							path : line.shape.attr("path"),
							name : line.text.attr("text"),
							tx : line.text.attr("x"),
							ty : line.text.attr("y")
						}
					);
				});
				areas.forEach(function (area) {
					mapData.areas.push(
						{
							path : area.shape.attr("path"),
							name : area.text.attr("text"),
							tx : area.text.attr("x"),
							ty : area.text.attr("y")
						}
					);
				});
				return mapData;
			}
			
			showPoints = function(){
				console.log(points);
			};
			
			showLines = function(){
				console.log(lines);
			};
			
			showAreas = function(){
				console.log(areas);
			};
			
			var nameField = {
				input : nameInput,
				active : false,
				begin : function() {
					this.input.disabled = false;
					this.input.focus();
					this.input.select();
					this.active = true;
				},
				end : function() {
					this.input.disabled = true;
					this.active = false;
				},
				getValue : function() { return this.input.value; }
			};
			
			class ButtonAction {
				constructor(elementName){
					this.element = document.getElementById(elementName);
				}
				
				screenClicked(x, y){}
				
				enterPressed() {}
				
				actionSelected(){}
				
				selectionRemoved(){}
				
				nameAdded(value){}
				
				elementSelected(element) {}
			}
			
			var currentAction = null;
			
			
			var elementClicked = function (element){
				currentAction.elementSelected(element);
			};
			
			
			var addListeners = function(element){
				element.text.click(function elementCl(){elementClicked(element);});
				element.shape.click(function elementCl2(){elementClicked(element);});
				return element;
			}

			
			class AddPointAction extends ButtonAction {
				constructor(elementName){
					super(elementName);
					this.circle = null;
				}
				
				screenClicked(x, y){
					this.circle = paper.circle(x,y,10).attr({fill:"green"});
					nameField.begin();
				}
				
				selectionRemoved(){
					if(this.circle != null){
						this.circle.remove();
						this.circle = null;
					}
				}
				
				nameAdded(value){
					var text = paper.text(this.circle.attr("cx"),this.circle.attr("cy")-20,value);
					points.push(addListeners(new PointElement(this.circle,text)));
					this.circle = null;
					
				}
				
			}
			
			class AddLineAction extends ButtonAction {
				constructor(elementName){
					super(elementName);
					this.pathArray = null;
					this.path = null;
					this.pathCircle = null;
				}
				
				screenClicked(x, y){
					if(this.path == null){
						this.pathArray = [ ['M',x,y] ];
						this.path = paper.path(this.pathArray);
						this.pathCircle = paper.circle(x,y,10);
					}else{
						this.pathArray.push(['L',x,y]);
						this.path.attr({path:this.pathArray});
						this.pathCircle.attr({cx:x,cy:y});
					}
				}
				
				selectionRemoved(){
					if(this.pathCircle != null){
						this.pathCircle.remove();
						this.pathCircle = null;
					}
					if(this.path != null){
						this.path.remove();
						this.path = null;
					}
					this.pathArray = null;
				}
				
				enterPressed(){
					if(this.pathCircle != null){
						this.pathCircle.remove();
						this.pathCircle = null;
					}
					nameField.begin();
					
				}
				
				nameAdded(value){
					var text = paper.text(0,0,value);
					var textbbox = text.getBBox();
					var middle = this.path.getPointAtLength(this.path.getTotalLength()/2);
					var textPos = calculateTextPosition(middle.x,middle.y,middle.alpha,textbbox.width,textbbox.height);
					text.attr(textPos);
					lines.push(addListeners(new LineElement(this.path,text)));
					this.path = null;
					this.pathArray = null;
				}
			}
			
			class AddAreaAction extends AddLineAction {
				constructor(elementName){
					super(elementName);
				}
				
				enterPressed(){
					super.enterPressed();
					this.pathArray.push(["L",this.pathArray[0][1],this.pathArray[0][2]]);
					this.path.attr({path:this.pathArray,fill:"cyan"});
				}
				
				nameAdded(value){
					var areaBox = this.path.getBBox();
					var text = paper.text(areaBox.cx,areaBox.cy,nameInput.value);
					areas.push(addListeners(new AreaElement(this.path,text)));
					this.path = null;
					this.pathArray = null;
				}	
			}
			
			class EditElementAction extends ButtonAction{
				constructor(elementName){
					super(elementName);
					this.currentSelection = null;
					this.isElementSelected = false;
					this.isElementDragged = false;
				}
				
				selectionRemoved(){
					this.removeSelection();
				}
				
				
				
				screenClicked(){
				//	console.log("Screen clicked");
					if(!this.isElementSelected && !this.isElementDragged){
						this.removeSelection();
					}else{
						this.isElementSelected = false;
						this.isElementDragged = false;
					}
				}
				
				selectElement(){
					
					var currentSelection = this.currentSelection;
					var tthis = this;
					
					this.enterMovement = function() { tthis.isElementDragged = true; currentSelection.moveStart();};
					this.onMovement = function(dx,dy) { tthis.isElementDragged = true; currentSelection.onMove(dx,dy);};
					
					this.currentSelection.shape.drag(this.onMovement,this.enterMovement);
					this.currentSelection.text.drag(this.onMovement,this.enterMovement);					
					
					this.currentSelection.elementSelected();
					
					nameInput.disabled = false;
					nameInput.value = currentSelection.text.attr("text");
					this.isElementSelected = true;
				}
				
				removeSelection(){
					if(this.currentSelection != null){
						this.currentSelection.selectionRemoved();
						this.currentSelection.shape.undrag();
						this.currentSelection.text.undrag();
						this.currentSelection = null;
						nameInput.disabled = true;
					}
				}
				
				addMovement(){
					
				}
				
				nameAdded(value){
					if(this.currentSelection != null){
						this.currentSelection.nameChanged(value);
					}
				}
				
				elementSelected(element) {
					if(element === this.currentSelection){
						this.isElementSelected = true;
						return;
					}
					this.removeSelection();
					this.currentSelection = element;
					this.selectElement();
				}
				
			}
			
			$(nameInput).focusout(function (e){
				if(nameField.active){
					nameInput.focus();
				}
			});
			
			
			
			class DeleteElementAction extends ButtonAction {
				constructor(elementName){
					super(elementName);
				}
				
				actionSelected(){}
				
								
				elementSelected(element) {
					if(confirm("Delete element " + element.text.attr("text") + "?")){
						element.elementDeleted();
					}
				}
			}
			
			$(document).keypress(function (e){
				if(e.which === 13){
					if(currentAction != null){
						currentAction.enterPressed();
					}
				}
			});
			
			$(nameInput).keypress(function (e){
				if(e.which === 13){
					if(/\S/.test(nameInput.value)){
						if(currentAction != null){
							currentAction.nameAdded(nameField.getValue());
							if(!(currentAction instanceof EditElementAction)){
								nameField.end();
							}
						}
					}else{
						alert("Name field is empty.");
					}
					return false;
				};
			});
			
			
			
			var actionArray = [
								new AddPointAction("addPoint"),
								new AddLineAction("addLine"),
								new AddAreaAction("addArea"),
								new EditElementAction("edit"),
								new DeleteElementAction("remove"),
							  ];
			
			
			actionArray.forEach(function (action) {
					$(action.element).click(function() {
							if(currentAction != null){
								currentAction.selectionRemoved();
								currentAction.element.disabled = false;
							}
							nameField.end();
							currentAction = action;
							this.disabled = true;
						}
					);
				});
			
			var clickfun = function (event) {
				var posX = event.pageX - $(this).position().left;
				var posY = event.pageY - $(this).position().top;
				
				if(nameField.active)
					return;
				if(posX > paper.width)
					return;
				if(currentAction == null){
					alert("Choose action.");
					return;
				}
				currentAction.screenClicked(posX,posY);
				

			};
			
			function download(content, fileName, contentType) {
				var a = document.createElement("a");
				var file = new Blob([content], {type: contentType});
				a.href = URL.createObjectURL(file);
				a.download = fileName;
				a.click();
			}
			
			$("#drawArea").bind('click',clickfun);
		/*	$("#saveMap").click(function (){
				console.log("Saving map - work in progress.");
				console.log("Structure generated", getData());
				download(JSON.stringify(getData()),"data.txt","text/plain");
		//		window.saveAs(getData(),"data.txt");
			});*/
			
		};
		/*]]>*/
	</script>
</html>