<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--suppress HtmlUnknownTag -->
    <div th:replace="fragments/styles :: styles"></div>
    <link  rel="stylesheet" href="../static/css/jasny-bootstrap.css" th:href="@{/css/jasny-bootstrap.css}"/>
    <title>My maps</title>
</head>
    <body>
        <div th:replace="fragments/navbar :: navbar" ></div>
        <div class="container mt-5">
            <!--/*@thymesVar id="mapadded" type="boolean"*/-->
            <div class="alert alert-success" th:if="${mapadded}">
                New map successfully added.
            </div>
        </div>
        <div class="container">
            <h2>Owned maps</h2>
            <!--/*@thymesVar id="ownedmaps" type="java.util.List<pl.rosa.mapeditor.models.Map>"*/-->
            <div th:unless="${ownedmaps.isEmpty()}" class="container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"> Name </th>
                            <th scope="col"> Visibility</th>
                            <th scope="col"> Description</th>
                        </tr>
                    </thead>
                    <tbody data-link="row" class="rowlink">
                        <tr th:each="map : ${ownedmaps}">
                            <td>
                                <span th:text="${map.name}"></span>
                                <a th:href="@{/map/show/{map_id}(map_id=${map.id})}"> </a>
                            </td>
                            <td th:text="${map.visibility}"></td>
                            <td th:text="${map.description}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${ownedmaps.isEmpty()}">
                <p>List is empty.</p>
            </div>
            <div class="container">
                <a class="btn btn-primary" th:href="@{/map/add}">Create new map</a>
            </div>
        </div>
        <div class="container mt-5">
            <h2> Shared maps</h2>
            <p>This site is under construction.</p>
        </div>
    </body>
    <div th:replace="fragments/scripts :: scripts"></div>
    <script th:src="@{/js/jasny-bootstrap.js}"></script>

</html>