<!DOCTYPE html>
<!--suppress HtmlUnknownTag -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="model" type="pl.rosa.mapeditor.models.Map"*/-->
<!--/*@thymesVar id="notfound" type="boolean"*/-->
<!--/*@thymesVar id="noaccess" type="boolean"*/-->
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/styles :: styles"></div>
    <title th:unless="${notfound || noaccess}" >
        <span th:text="${model.name}" th:remove="tag"></span>
        </title>
    <title th:if="${notfound || noaccess}">Error</title>
</head>
    <body>

        <div th:replace="fragments/navbar :: navbar" ></div>
        <div th:unless="${notfound || noaccess}" class="container mt-5">
            <h2 th:text="${model.name}"></h2>
            <p>Description:</p>
            <p th:text="${model.description}"></p>

            <div th:if="${@mapService.currentUserCanEdit(model)}" class="container">
                <a class="btn btn-primary" th:href="@{/map/edit/{map_id}(map_id=${model.id})}">Edit</a>
            </div>
            <div id="mapView" style="width: 500px; height: 500px;">
            </div>
        </div>
        <div th:if="${notfound}" class="container mt-5">
            <h2>Error</h2>
            <p>Map not found.</p>
        </div>
        <div th:if="${noaccess}" class="container mt-5">
            <h2>Error</h2>
            <p>You have no access to this map.</p>
        </div>
    </body>
    <div th:replace="fragments/scripts :: scripts"></div>

</html>