<!DOCTYPE html>
<!--suppress HtmlUnknownTag -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="model" type="pl.rosa.mapeditor.models.Map"*/-->
<!--/*@thymesVar id="notfound" type="boolean"*/-->
<!--/*@thymesVar id="noaccess" type="boolean"*/-->
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/styles :: styles"></div>
    <link th:href="@{/css/leaflet.css}" rel="stylesheet"/>
    <title th:unless="${notfound || noaccess}" >
        <span th:text="${model.name}" th:remove="tag"></span>
        </title>
    <title th:if="${notfound || noaccess}">Error</title>
</head>
    <body>

        <div th:replace="fragments/navbar :: navbar" ></div>
        <div th:unless="${notfound || noaccess}" class="container mt-5">
            <h2 th:text="${model.name}"></h2>
            <p><i>Author: <th:block th:text="${model.owner.name}">author</th:block></i></p>
            <p>Description:</p>
            <p th:text="${model.description}"></p>

            <div th:if="${@mapService.currentUserCanEdit(model)}" class="container">
                <a class="btn btn-primary" th:href="@{/map/edit/{map_id}(map_id=${model.id})}">Edit</a>
            </div>
            <div id="mapView" style="width: 500px; height: 500px;"></div>
            <br/>
            <div class="container" th:if="${@mapService.currentUserIsOwner(model)}">
                <h2>Contributors</h2>
                <div th:class="${model.mapAccessList.isEmpty()}?'d-none'" id="tableDiv">
                    <table class="table table-hover" id="contributorTable">
                        <thead>
                            <tr>
                                <th scope="col"> Name </th>
                                <th scope="col"> Access </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="mapAccess : ${model.mapAccessList}">
                                <td th:text="${mapAccess.appUser.name}"></td>
                                <td th:if="${mapAccess.accessType} == 'r'">Show</td>
                                <td th:if="${mapAccess.accessType} == 'w'">Edit</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${model.mapAccessList.isEmpty()}" id="noContributors">
                    <p>No contributors.</p>
                </div>
                <div class="container">
                    <form action="#" id="addContributor" class="form-inline">
                        <div class="form-group mb-2">
                            <label for="userName" class="my-1 mr-2">User name: </label>
                            <input type="text" class="form-control" id="userName" name="username"/>
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="accessType" class="my-1 mr-2">Access: </label>
                            <select class="form-control" id="accessType" name="accesstype" >
                                <option value="r">Show</option>
                                <option value="w">Edit</option>
                            </select>
                        </div>
                        <!--/*@thymesVar id="_csrf" type="org.springframework.security.web.csrf.CsrfToken"*/-->
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="btn btn-primary mb-2">Add</button>
                        <div class="form-group mb-2 mx-sm-3">
                            <span class="text-danger" id="errorView"></span>
                            <span class="text-success" id="successView"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div th:if="${notfound}" class="container mt-5">
            <h2>Error</h2>
            <p>Map not found.</p>
        </div>
        <div th:if="${noaccess}" class="container mt-5">
            <h2>Error</h2>
            <p>You have no access to this map.</p>
        </div>
    </body>
    <div th:replace="fragments/scripts :: scripts"></div>
    <script th:src="@{/js/leaflet.js}"></script>
    <!--suppress ES6ModulesDependencies -->
    <script th:inline="javascript"  th:unless="${notfound || noaccess}">
        window.onload = function(){
            /*<![CDATA[*/
            let mapValue =   /*[[${model.id}]]*/ 0;
            let mapUrl = /*[[@{/map/svg/}]]*/ '/map/svg/';
            let contributorRequestUrl = /*[[@{/map/addcontributor/}]]*/ '/map/addcontributor/';
            /*]]>*/
            let myMap = L.map('mapView', {zoom: 0, center: [250, 250], crs: L.CRS.Simple});
            $("#addContributor").submit(function(){
                $("#successView").empty();
                $("#errorView").empty();

                let formData = $(this).serializeArray().reduce(function(obj, item){
                    obj[item.name] = item.value;
                    return obj;
                },{});
                $.post(contributorRequestUrl+mapValue,
                    formData,
                    function(data){
                        if(data === 'success'){
                            $("#successView").text(data);
                            let noContributors = $("#noContributors");
                            if(noContributors.length){
                                noContributors.remove();
                                $("#tableDiv").removeAttr("class");
                            }
                            let accessString = formData.accesstype === 'w' ? "Edit" : "Show";
                            $("#contributorTable tr:last").after("<tr><td>" + formData.username + "</td><td>" + accessString +"</td></tr>");
                        }else{
                            $("#errorView").text(data);
                        }
                    });
                return false;
            });
            let imageBounds = [ [0, 0], [500, 500] ];
            let overlay = L.imageOverlay(mapUrl+mapValue,imageBounds);
            overlay.addTo(myMap);
            overlay.on('load',function() {
                console.log(this._image.naturalWidth);
                overlay.setBounds([ [0,0], [this._image.naturalHeight,this._image.naturalWidth] ]);
            });

        }
    </script>
</html>